<div class="dashboard">
    <%- include('sidebar.ejs') %>
    <div class="main-content">
        <div class="container">
            <h1>title: <%- exam.title %> </h1>
            <h1>description: <%- exam.description  %></h1>
            <h1>duration: <%- exam.duration %></h1>
            <h1>group: <%- exam.group %></h1>
        </div>
    </div>
</div>
