<link rel="stylesheet" href="/css/teacher/teacherExams.css">
<div class="dashboard">
    <%- include('sidebar.ejs') %>
    <div class="main-content">
        <div id="alert-message" class="alert" style="display: none;">
        <span id="alert-text"></span>
        <button id="alert-close" class="alert-close-btn">&times;</button>
        </div>
        <div class="topbar">
            <h3>Mes Examens</h3>
            <div class="user-profile">
                <img src="/img/<%- user.gender %>-<%- user.role %>.png" alt="Professeur">
                <span>Prof. <%- user.Fname %> <%- user.Lname %></span>
            </div>
        </div>
        <div class="exams-container">
            <div class="no-exams-found" style="display: none;">
                Aucun examen trouvé
            </div>
        </div>
    </div> 
</div>
<script src="/js/utils.js"></script>
<script src="/js/teacher/teacherExams.js"></script>
